html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--dark);
    color: var(--light);
    transition: background .5s ease, color .5s ease;
}

.center_JS {
    text-align: center;
    align-self: center;
}

.center_CSS {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_right {
    display: flex;
    justify-content: flex-end;
}

.center_horizontal {
    display: flex;
    justify-content: center;
}

.center_vertical {
    display: flex;
    align-self: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    font-family: 'Press Start 2P', monospace;
    background-size: 100% 100%;
}

@media (orientation: landscape) {
    p, span {
        line-height: 1vw !important;
    }
}

@media (orientation: portrait) {
    p, span {
        line-height: 2vh !important;
    }
}

.observe {
    opacity: 0;
}

.navbar .menu, .navbar .logo, .home, .about, .skills, .projects, .hobbies {
    padding: 0 5vw;
    margin: auto;
}

.navbar, .home, .about, .skills, .projects, .hobbies, .contact {
    width: 100vw;
}

.home, .about, .skills, .projects {
    display: flex;
    flex-direction: column;
    position: relative;
}

.subheading {
    width: 20%;
    height: 5vh;
    border-bottom: 1px solid var(--light);
    box-shadow: 5px 5px 5px 0 var(--light);
    margin: 7.5% auto 5%;
    font-size: 2vw;
}

@media (max-width: 600px) {
    .subheading {
        width: 50%;
        font-size: 2vh;
    }
}

#color-mode-btn {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    width: 50px;
    height: 50px;

    background-color: var(--light);
    background-image: url("../Images/color-mode.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
    z-index: 9999;
}