.projects {
    overflow: hidden;
    height: 50vw;
}

.projects .projects-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.projects #scrollbar {
    width: 100%;
    height: 100%;
}

.projects .box {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 1vw;
}

@media (max-width: 600px) {
    .projects {
        height: 25vh;
    }
}