@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --dark: black;
    --light: white;
    --longImg: url("../Images/earth.png");
    --shortImg: url("../Images/neutronStar.png");
}

body.light {
    --dark: white;
    --light: black;
    --longImg: url("../Images/whiteCat.png");
    --shortImg: url("../Images/rose.png");
}
