.skills {

}

.skills .skills-content {
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0 black;
    border: 1px solid var(--light);
    display: grid;
    grid-template-columns: 40% 60%;
}

.skills .text {
    display: flex;
    flex-direction: column;
    padding: 2.5vw;
}

.skills .text .title {
    font-size: 1.5vw;
    font-weight: bold;
}

.skills .text span {
    font-size: 0.75vw;
    margin-top: auto
}

.skills p {
    font-size: 1vw;
    font-weight: 300;
}

.skills .progression {
    padding: 2.5vw
}

.skills .progression .row {
    width: 100%;
    height: 5vh;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    margin-bottom: 2.5%;
}

.skills .progression .row span {
    text-decoration: underline;
    font-size: 0.75vw;
}

.skills .progression .row * {
    display: flex;
    justify-content: center;
    align-self: center;
}

.skills .progression .row .bar {
    height: 25%;
    background-color: gray;
    transition: background-color .5s ease;
    justify-content: flex-start;
    border-radius: 15px;
}


.skills .progression .row .bar .filler {
    height: 100%;
    background-color: var(--light);
    transition: background-color .5s ease;
    border-radius: 15px;
}

@media (max-width: 600px){
    .skills .skills-content {
        grid-template-columns: 1fr;
    }

    .skills .text .title {
        font-size: 1.5vh;
    }

    .skills .text span {
        font-size: 1vh;
    }

    .skills p {
        font-size: 1.25vh;
    }

    .skills .progression .row span {
        font-size: 2vw;
    }

    .skills .progression .row {
        grid-template-columns: 30% 60% 10%;
    }
}